# Swift Package Manager
.build/
.swiftpm/

# App bundle output
dist/

# Flutter project
spotify_floating_lyrics_flutter/build/
spotify_floating_lyrics_flutter/.dart_tool/
spotify_floating_lyrics_flutter/.packages
spotify_floating_lyrics_flutter/pubspec.lock

# Logs
.logs/*.log

# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Temp files
*.swp
*.tmp
